<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    Coordinates-Geocode converter

    </br><br/>

    <form id="search" th:action="@{/geocode}" th:method="POST">
        <input class="search-input" type="text" th:name="query" placeholder="Enter address or coordinates"/>
        <input type="submit" value="Convert"/>
    </form>

    </br>

    <div th:if="${geocode!=null && geocode.getCoordinates() != null && geocode.getAddress() != null}"
         th:utext="'Address: ' +  ${geocode.getAddress()} + '<br/><br/>Coordinates: ' + ${geocode.getCoordinates()}"/>

    <div th:if="${geocode==null || geocode.getCoordinates() == null || geocode.getAddress() == null}"
         th:text="'No geocode yet...'"/>

</body>
</html>